@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

@tailwind components;
@tailwind utilities;

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
}

html.dark body {
  @apply bg-slate-900 duration-300 transition;
}
body {
  background-color: #fafafa;
  transition-duration: 0.3s;
}

.slick-slider {
  max-width: 61.25rem;
  width: 100vw;
  height: 25rem;
  margin: auto;
}
.slick-list,
.slick-track {
  height: 100%;
}
.slick-arrow {
  width: 1.875rem;
  height: 1.875rem;
}
.slick-prev::before,
.slick-next::before {
  font-size: 1.875rem;
}
.slick-next {
  right: 1.25rem;
}
.slick-prev {
  left: 1.25rem;
  z-index: 1;
}
.slick-dots li.slick-active button:before {
  color: #0284c7;
}
.bg__slider {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg__slider .slick-slider {
  max-width: 100%;
  margin-top: 0;
}
.bg__slider .slick-arrow {
  display: none !important;
}
.toastui-editor-defaultUI {
  @apply border-neutral-300 border-2;
}

.editor.active .toastui-editor-defaultUI {
  @apply border-sky-600 border-2;
}
.toastui-editor-dark .toastui-editor-toolbar {
  height: auto;
}
.toastui-editor-dark .toastui-editor-md-tab-container {
  background-color: #232428;
  border-bottom-color: #303238;
}
.toastui-editor-contents p,
.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  margin: 0px !important;
}
.toastui-editor-contents p,
.toastui-editor-contents h1,
.toastui-editor-contents h2,
.toastui-editor-contents h3,
.toastui-editor-contents h4,
.toastui-editor-contents h5,
.toastui-editor-contents h6 {
  @apply dark:text-slate-100;
}
.toastui-editor-contents p {
  font-size: 16px;
}
html.dark .toastui-editor-contents p {
  @apply text-slate-100;
}
@layer components {
  .header__line--after {
    @apply after:content-[''] after:absolute after:w-[1px] after:h-[60%] after:top-[50%] after:translate-y-[-50%] after:bg-slate-400 after:right-[-8px];
  }
}
